.burger-menu{
    margin-left: auto;
    &.active{
        .burger-menu{
            &__overlay{
                opacity: 1;
                visibility: visible;
            }
            &__button-line{
                transition-timing-function: cubic-bezier(.19,1,.22,1);
                transform: rotate(765deg);
                &:before{
                    top: 0;
                    transition: top .1s ease-out,opacity .1s ease-out .12s;
                    opacity: 0;
                }
                &::after{
                    bottom: 0;
                    transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
                    transform: rotate(-90deg);
                }
            }
        }
        .burger-modal{
            left: calc(100% - 245px);
        }
    }
    &__button{
        position: relative;
        display: flex;
        align-items: center;
        width: 36px;
        height: 36px;
        background: transparent;
        z-index: 3;
        &-line{
            position: relative;
            transition-timing-function: cubic-bezier(.55,.055,.675,.19);
            transition-duration: .22s;
            &,&::before, &::after{
                display: inline-block;
                height: 2px;
                width: 100%;
                border-radius: 2px;
                background-color: $dark-pink;
            }
            &::before,&::after{
                content: '';
                position: absolute;
                left: 0;
            }
            &:before{
                top: -8px;
                transition: top .1s ease-in .25s,opacity .1s ease-in;
            }
            &::after{
                bottom: -8px;
                transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);
            }
        }
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.4);
        transition-duration: .3s;
        opacity: 0;
        visibility: hidden;
    }
    .burger-modal{
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 245px;
        background: $light-pink;
        transition: .3s;
        z-index: 2;
    }
}